.column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.column-delete__btn {
  color: #bdbdbd;
  transition: 0.3s;
  &:hover {
    color: #ff4081;
  }
}

.column__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column-edit__btn,
.column-close__btn {
  transition: 0.3s;
  &:hover {
    background-color: #e0e0e0;
  }
}

.column-close__btn {
  margin-right: 1rem;
}

.column__tasks {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 470px);
  gap: 0.7rem;
  overflow-y: auto;
  padding: 0 1rem 0.2rem 0;
  @media (max-width: 1024px) {
    padding: 0 3rem 0.2rem 0;
  }
  @media (max-width: 768px) {
    max-height: calc(100vh - 440px);
  }
  @media (max-width: 631px) {
    max-height: calc(100vh - 480px);
  }
  @media (max-width: 599px) {
    max-height: calc(100vh - 460px);
  }
  @media (max-width: 530px) {
    max-height: calc(100vh - 505px);
  }
}

.column__task {
  cursor: pointer;
}

.mat-card {
  padding: 0;
}

.column__task_colored {
  animation: fade 4s;
}

@keyframes fade {
  0% {
    background-color: #fce4ec;
  }
  10% {
    background-color: #ffffff;
  }
  20% {
    background-color: #fce4ec;
  }
  30% {
    background-color: #ffffff;
  }
  40% {
    background-color: #fce4ec;
  }
  50% {
    background-color: #ffffff;
  }
  60% {
    background-color: #fce4ec;
  }
  70% {
    background-color: #ffffff;
  }
  80% {
    background-color: #fce4ec;
  }
  100% {
    background-color: #ffffff;
  }
}

.column__add-btn {
  margin-right: 1rem;
}

.add {
  &.material-icons {
    font-size: 18px;
  }
  &.mat-icon {
    height: 22px;
  }
}

.column__empty {
  height: 1px;
}
