.column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.column__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column__tasks {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.column__task_colored {
  animation: fade 4s;
}

@keyframes fade {
  0% {background-color: #fce4ec;}
  70% {background-color: #fce4ec;}
  100% {background-color: #ffffff;}
 }

.add {
  &.material-icons {
    font-size: 18px;
  }
  &.mat-icon {
    height: 22px;
  }
}

.column__empty {
  height: 1px;
}
