.column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.column__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column__tasks {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.add {
  &.material-icons {
    font-size: 18px;
  }
  &.mat-icon {
    height: 22px;
  }
}
