:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 4rem 1rem;
  background-color: #f5f5f5;
}

.not-found__title {
  font-size: 1.6rem;
}

.not-found__text {
  font-size: 1.2rem;
}

.not-found__link {
  color: #3f51b5;
  text-decoration: none;
}

.not-found__link:hover {
  color: #8c9eff;
}
