:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  background-color: #e8eaf6;
  @media (max-width: 983px) {
    padding: 1rem;
  }
}

.boards__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
  flex-wrap: wrap;
}

.boards__title {
  font-size: 1.5rem;
}

.boards__search {
  width: 300px;
}

.boards__search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.boards__search-full-width {
  width: 100%;
}

.boards__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  @media (max-width: 983px) {
    justify-content: center;
  }
}

.board {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 150px;
  overflow: auto;
  cursor: pointer;
}

.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board__create-content {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-button {
  min-width: 40px;
  padding: 0;
}

.more-icon {
  color: #bdbdbd;
}
