<ng-container *transloco="let t">
  <div class="boards__header">
    <h2 class="boards__title">{{ t('main.boards') }}</h2>
    <form class="boards__search-form">
      <mat-form-field class="boards__search-full-width" appearance="outline">
        <mat-label>{{ t('main.searchBoards') }}</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of filteredOptions | async" [value]="option"
            (click)="saveTaskIdToStore(option.board.id, option.task.id)"
          >
            <span class="search__colored">{{ t('main.task') }}:</span> {{ option.task.title }},
            <span class="search__colored">{{ t('main.board') }}:</span> {{ option.board.title }},
            <span class="search__colored">{{ t('main.column') }}:</span> {{ option.column.title }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="boards__container">
    <mat-card class="board" *ngFor="let board of (boards$ | async)!" (click)="goToBoardPage(board.id)">
      <mat-card-header class="board__header">
        <mat-card-title>{{board.title}}</mat-card-title>
        <div class="board__buttons">
          <button type="button" mat-button [matMenuTriggerFor]="menu" (click)="clickBoardMenu($event)"><mat-icon class="more-icon">more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button type="button" mat-menu-item (click)="editBoard($event, board.id)"><mat-icon color="primary">edit</mat-icon>{{ t('main.edit') }}</button>
            <button type="button" mat-menu-item (click)="deleteBoard($event, board.id)"><mat-icon color="accent">delete</mat-icon>{{ t('main.delete') }}</button>
          </mat-menu>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{board.description}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="board__create board" (click)="createBoard()">
      <mat-card-header class="board__create-content">
        <mat-card-title>{{ t('header.button.createBoard') }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-container>
