<ng-container *transloco="let t">
  <div class="boards__header">
    <h2 class="boards__title">{{ t('main.boards') }}</h2>
    <mat-form-field class="boards__search" appearance="outline">
      <mat-label>{{ t('main.searchBoards') }}</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue">
      <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="board__container">
    <mat-card class="board" *ngFor="let board of (boards$ | async)! | searchBoards:searchValue" (click)="goToBoardPage(board.id)">
      <mat-card-header class="board__header">
        <mat-card-title>{{board.title}}</mat-card-title>
        <button mat-mini-fab color="accent" aria-label="delete button" (click)="deleteBoard(board.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <p>{{board.description}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="board__create board" (click)="createBoard()">
      <mat-card-header class="board__create-content">
        <mat-card-title>{{ t('header.button.createBoard') }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</ng-container>
