<p>
  <mat-toolbar>
    <div class="footer__wrapper">
      <span class="footer__year">&copy; 2022</span>
      <a href="https://rs.school/angular/" class="footer__icon"></a>
    </div>
    <span class="spacer"></span>
    <div class="footer__wrapper">
      <span class="footer__item"><a href="https://github.com/Andronio2" class="footer__link">Andronio2</a></span>
      <span class="footer__item"><a href="https://github.com/Diana2886/" class="footer__link">Diana2886</a></span>
      <span class="footer__item"><a href="https://github.com/Aibekken/" class="footer__link">Aibekken</a></span>
    </div>
  </mat-toolbar>
</p>
