:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem 2rem 0;
  background-color: #e8eaf6;
  @media (max-width: 768px) {
    padding: 1rem 1rem 0;
  }
}

.column__handle {
  position: absolute;
  top: 3px;
  right: 5px;
  color: #ccc;
  cursor: move;
  width:calc(100% - 10px);
  height: 20px;
  background-color: #bdbdbd;
  border-radius: 5px;
  &::before,
  &::after {
    content: '';
    position: relative;
    display: block;
    height: 3px;
    width: 50px;
    left: calc(50% - 25px);
    top: 5px;
    background-color: #555;
    border-radius: 2px;
  }
  &::after {
    top: 9px;
  }
}

.board__header {
  display: flex;
  align-items: center;
  gap: 2rem 0.4rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    row-gap: 1rem;
  }
  @media (max-width: 530px) {
    margin-bottom: 0;
  }
}

.back__btn:hover {
  background-color: #e0e0e0;
  transition: 0.3s;
}

.board__title {
  margin-bottom: 0;
}

.create-column__btn:hover {
  background-color: #fce4ec;
  transition: 0.3s;
}

.spacer {
  flex: 1 1 auto;
  @media (max-width: 500px) {
    display: none;
  }
}

.board__filter {
  width: 100%;
  max-width: 210px;
}

.board__columns {
  display: flex;
  padding-bottom: 30px;
  flex-wrap: nowrap;
  gap: 1rem;
  flex-grow: 1;
  overflow-x: auto;
}

.board__column {
  min-width: 400px;
  height: fit-content;
  padding: 1rem 0 0 1rem;
  background-color: #f5f5f5;
  @media (max-width: 465px) {
    min-width: 255px;
  }
}

.add {
  &.material-icons {
    font-size: 18px;
  }
  &.mat-icon {
    height: 20px;
  }
}
