<ng-container *transloco="let t; read: 'board'">
  <div class="board__header">
    <button mat-icon-button color="primary" aria-label="back button" (click)="goToMainPage()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h2 class="board__title">{{ (board$ | async)?.title }}</h2>
    <button mat-raised-button (click)="createColumn()">
      <mat-icon class="add">add</mat-icon>{{ t('createColumn') }}
    </button>
    <span class="spacer"></span>
    <mat-form-field class="board__filter" appearance="outline">
      <mat-label>{{ t('filterBy') }}</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="selected$.next(selected)">
        <mat-option value="allUsers">{{t('allUsers')}}</mat-option>
        <mat-option *ngFor="let user of users" [value]="user.login">
          {{user.login}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div
    class="board__columns"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
  >
    <mat-card
      class="board__column"
      *ngFor="let column of (board$ | async)?.columns || [] | sortColumnsTasks"
      cdkDrag
      [attr.data-col-id]="column.id"
      [cdkDragDisabled]="isDragDisable"
    >
      <app-column [fromBoard]="{ column, boardId, users, selected$ }" (dragDisableEvent)="setDragDisable($event)"></app-column>
    </mat-card>
  </div>
</ng-container>
