<ng-container *transloco="let t; read: 'board'">
  <div class="board__header">
    <button mat-icon-button color="primary" aria-label="back button" (click)="goToMainPage()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h2 class="board__title">{{ (board$ | async)?.title }}</h2>
    <button mat-raised-button (click)="createColumn()">
      <mat-icon class="add">add</mat-icon>{{ t('createColumn') }}
    </button>
  </div>
  <div
    class="board__columns"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumn($event)"
  >
    <mat-card
      class="board__column"
      *ngFor="let column of (board$ | async)?.columns || [] | sortColumnsTasks"
      cdkDrag
      [attr.data-col-id]="column.id"
    >
      <app-column [fromBoard]="{ column, boardId }"></app-column>
    </mat-card>
  </div>
</ng-container>
