<ng-container *transloco="let t; read: 'board'">
  <div class="board__header">
    <h2 class="board__title">{{(board$ | async)?.title}}</h2>
    <button mat-raised-button (click)="createColumn()"><mat-icon>add</mat-icon> {{ t('createColumn') }}</button>
  </div>
  <div class="board__columns">
    <mat-card class="board__column" *ngFor="let column of (board$ | async)!.columns">
      <mat-card-header>
        <mat-card-title>{{ column.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="board__tasks">
          <mat-card class="board__task" *ngFor="let task of column.tasks">
            <mat-card-header>
              <mat-card-title>{{ task.title }}</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
        <button mat-raised-button (click)="createTask()"><mat-icon>add</mat-icon> Add a task</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
