:host {
  flex-grow: 1;
  padding: 2rem 2rem 0;
  background-color: #e8eaf6;
}

.board__header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.board__title {
  margin-bottom: 0;
}
