<div class="container">
  <form [formGroup]="authForm!" class="register-form" (ngSubmit)="onSubmit()">
    <mat-card class="register-form__card">
      <div class="register-form__inputs-block">
        <mat-card-title class="register-form__title">{{title}}</mat-card-title>
        <mat-form-field *ngIf="name" class="register-form__field" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput [formControl]="name" placeholder="John">
          <mat-error *ngIf="name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="name.hasError('minlength')">
            Name is <strong>too short</strong>. At least 3 characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-form__field" appearance="fill">
          <mat-label>Login</mat-label>
          <input type="text" matInput [formControl]="login" placeholder="John007">
          <mat-error *ngIf="login.hasError('required')">
            Login is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="login.hasError('minlength')">
            Login is <strong>too short</strong>. At least 3 characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-form__field" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput [formControl]="password" placeholder="*****">
          <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="password.getError('inValidPass')"
            class="validator-message">
            Your password isn't strong enough.
            <p> At least 8 characters. Has to contain uppercase letters, lowercase letters, numbers, and
              symbols
            </p>
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" [disabled]="authForm!.invalid" mat-raised-button color="primary">Submit</button>
    </mat-card>
  </form>
</div>
