<form (ngSubmit)="createColumn()" [formGroup]="columnForm" class="register-form">
  <div class="register-form__inputs-block">
    <mat-card-title class="register-form__title">Create column</mat-card-title>
    <mat-form-field class="register-form__field" appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text" matInput [formControl]="title" placeholder="New board">
      <mat-error *ngIf="title.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="title.hasError('minlength')">
        Title is <strong>too short</strong>. At least 3 characters.
      </mat-error>
      <mat-error *ngIf="title.hasError('maxlength')">
        Title is <strong>too long</strong>. No more than 20 characters
      </mat-error>
    </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="columnForm.invalid">Submit</button>
  <button type="button" (click)="cancelColumn()" mat-raised-button color="accent">Cancel</button>
  </div>
</form>

