:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.welcome__wrapper {
  background-color: #f5f5f5;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px 0;
  @media (max-width: 1440px) {
    padding: 2rem;
  }
  @media (max-width: 425px) {
    padding: 1rem;
  }
}

.welcome__container {
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.welcome__content {
  display: flex;
  flex-direction: column;
  width: 40%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.welcome__title {
  color: rgba(0,0,0,.87);
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.4;
  .welcome__title_colored {
    color: #3f51b5;
  }
  @media (max-width: 1024px) {
    font-size: 2rem;
  }
  @media (max-width: 425px) {
    font-size: 1.5rem;
  }
}

.welcome__text {
  width: 90%;
  margin: 1rem 0 2rem;
}

.buttons__wrapper {
  display: flex;
  gap: 2rem;
}

.get-started__btn {
  transition: 0.3s;
  &:hover {
    background-color: #303f9f;
  }
}

.video__link:hover {
  transition: 0.3s;
  .video__btn {
    background-color: #e91e63;
  }
  .video__text {
    color: #000000;
  }
}

.video__link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: rgba(0,0,0,.87);
  font-weight: 700;
  text-decoration: none;
}

.welcome__img {
  width: 55%;
  min-width: 300px;
  height: 100%;
  object-fit: cover;
  @media (max-width: 768px) {
    width: 100%;
    margin-top: 1rem;
  }
}

.about__wrapper {
  background-color: #ffffff;
}

.about__container {
  gap: 2rem;
  @media (max-width: 1440px) {
    gap: 1rem;
  }
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.about__img-content {
  display: flex;
}

.about__img {
  @media (max-width: 1024px) {
    display: none;
  }
}

.title {
  font-size: 2rem;
  @media (max-width: 1440px) {
    font-size: 1.5rem;
  }
  @media (max-width: 425px) {
    font-size: 1.3rem;
  }
}

.about__card {
  background-color: #e8eaf6;
}

.developers__wrapper {
  background: linear-gradient(180deg, #c5cae9 0%, #9fa8da 100%);
}

.developers__container {
  flex-direction: column;
}

.developers__cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  @media (max-width: 1024px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.developer__card {
  width: 30%;
  @media (max-width: 1024px) {
    width: 100%;
    max-width: 500px;
  }
}

.developers__title {
  align-self: center;
  margin-bottom: 2rem;
  @media (max-width: 425px) {
    margin-bottom: 1rem;
  }
}

.developer__name {
  @media (max-width: 1440px) {
    font-size: 20px;
  }
  @media (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.developer__img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.mat-card-md-image {
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

.course__container {
  gap: 2rem;
  @media (max-width: 1440px) {
    gap: 1rem;
  }
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.course__subtitle {
  @media (max-width: 425px) {
    font-size: 1.2rem;
  }
}

.course__content {
  min-width: 155px;
}
