:host {
  position: sticky;
  top: 0;
  transition: 0.3s;
  z-index: 1;
}

.header__inner {
  position: sticky;
  top: 0;
  transition: 0.3s;
  background-color: #3f51b5;
}

.header__changed {
  position: sticky;
  top: 0;
  transition: 0.3s;
  background-color: #3949ab,
  ;
}

.header__logo {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #fce4ec;
  }
}

.spacer {
  flex: 1 1 auto;
}

.buttons__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__button:hover {
  background-color: #fce4ec;
  transition: 0.3s;
}

.header__lang {
  transition: 0.3s;
  &:hover {
    color: #fce4ec;
  }
}

.add {
  &.material-icons {
    font-size: 18px;
  }
  &.mat-icon {
    height: 20px;
  }
}
