.header__logo {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.buttons__container {
  display: flex;
  gap: 1rem;
}

.add {
  &.material-icons {
    font-size: 18px;
  }
  &.mat-icon {
    height: 20px;
  }
}
