<ng-container *transloco="let t; read: 'authAndModal'">
  <div class="container">
    <form *ngIf="(user$ | async)" [formGroup]="editForm" class="register-form" (ngSubmit)="onSubmit()">
      <mat-card *ngIf="isEditMode" class="register-form__card">
        <div class="register-form__inputs-block">
          <mat-card-title class="register-form__title">{{ t('editProfile') }}</mat-card-title>
          <mat-form-field class="register-form__field" appearance="fill">
            <mat-label>{{ t('name') }}</mat-label>
            <input type="text" [value]="(user$ | async)!.name" matInput [formControl]="name" placeholder="John">
            <mat-error *ngIf="name.hasError('required')">
              {{ t('error.nameIs') }} <strong>{{ t('error.required') }}</strong>
            </mat-error>
            <mat-error *ngIf="login.hasError('maxlength')">
              {{ t('error.nameIs') }} <strong>{{ t('error.tooLong2') }}</strong>. {{ t('error.noMore') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="register-form__field" appearance="fill">
            <mat-label>{{ t('login') }}</mat-label>
            <input type="text" matInput [formControl]="login" placeholder="John007">
            <mat-error *ngIf="login.hasError('required')">
              {{ t('error.loginIs') }} <strong>{{ t('error.required') }}</strong>
            </mat-error>
            <mat-error *ngIf="login.hasError('minlength')">
              {{ t('error.loginIs') }} <strong>{{ t('error.tooShort') }}</strong>. {{ t('error.atLeast3') }}
            </mat-error>
            <mat-error *ngIf="login.hasError('maxlength')">
              {{ t('error.loginIs') }} <strong>{{ t('error.tooLong') }}</strong>. {{ t('error.noMore') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="register-form__field" appearance="fill">
            <mat-label>{{ t('password') }}</mat-label>
            <input type="password" matInput [formControl]="password" placeholder="*****">
            <mat-error *ngIf="password.hasError('required')">
              {{ t('error.passwordIs') }} <strong>{{ t('error.required') }}</strong>
            </mat-error>
            <mat-error *ngIf="password.getError('inValidPass') && !password.hasError('required')"
              class="validator-message">
              {{ t('error.passwordStrength') }}
              <p> {{ t('error.atLeast8') }}
              </p>
            </mat-error>
          </mat-form-field>
        </div>
        <button type="submit" [disabled]="editForm.invalid" mat-raised-button color="primary">{{ t('button.save') }}</button>
        <a (click)="toggleEdit()" mat-raised-button color="accent">{{ t('button.cancel') }}</a>
      </mat-card>
      <mat-card *ngIf="!isEditMode">
        <mat-card-title class="register-form__title">{{ t('userProfile') }}</mat-card-title>
        <mat-card-subtitle><strong>{{ t('name') }}</strong>: {{(user$ | async)!.name}}</mat-card-subtitle>
        <mat-card-subtitle><strong>{{ t('login') }}</strong>: {{(user$ | async)!.login}}</mat-card-subtitle>
        <button type="button" (click)="toggleEdit($event)" mat-raised-button color="primary">{{ t('button.edit') }}</button>
        <button type="button" mat-raised-button color="warn" (click)="openDialog($event)">{{ t('button.delete') }}</button>
      </mat-card>
    </form>
  </div>
</ng-container>
