:host {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.board__task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.board__task-content {
  margin-bottom: 0;
}
